.rail {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
  padding: var(--space-1);
  border-radius: 999px;
  box-shadow: var(--shadow-xl);
  width: max-content;
}

.dark {
  background-color: var(--surface-dark);
  color: var(--text-oncolor);
}

.light {
  background-color: var(--surface-panel);
  color: var(--icon-default);
}

.divider {
  width: 60%;
  height: 1px;
  margin: var(--space-1) 0;
  background-color: var(--alpha-white-20);

  .light & {
    background-color: var(--border-subtle);
  }
}
